abstract $name = Core ** {


 fun

  #for $pre in $predefined
   $pre.name : Kind;
  #end for
   
  #for $c in $categories
   $c.type : Kind; 
  #end for

  #for $c in $categories
   $c.name : Class $c.type; 
  #end for

  #for $c in $funcats
   $c.name : Class $c.domain -> Kind;
  #end for

  #for $p in $functions
#if type($p.range) == list
#set $range = ''
 #for $r in $p.range
 #set $range += 'Description ' + str($r) + ' -> '
 #end for
 #set $range = $range.strip()
#else
#set $range = 'Description ' + $p.range + ' ->'
#end if
##
   $p.name : Description $p.domain -> $range Proposition;
##
  #end for
}
