--# -path=.:prelude:present

concrete $name$lang of $name = #slurp
#if $signature.has_key('extends')
$signature.extends$lang ** #slurp
#end if
open Syntax$lang, Paradigms$lang in {

lincat

#if not $signature.has_key('extends')
   Kind        = {};
   Class       = CN;
   Description = NP;
   Quantifier  = Det;

   Proposition = $signature.proposition.lincat ;
#end if

  #for $pre in $signature.predefined
   $pre.name = <>;
  #end for

  #for $c in $signature.categories
   $c.type = <>;
  #end for

lin

#if not $signature.has_key('extends')
   The  = the_Det;
   Some = a_Det;
   All  = every_Det;
   Generic = aPl_Det;

   mkDescription _ det class = mkNP det class;
#end if

#for $l in $linearizations
   $l.ref $l.args = #slurp
#if $l['isRecord'] 
{
#end if
#for $lin in $l.lin
#if $l['isRecord']
       $lin.field = #slurp
#end if
#if $len($lin.value) == 1
$lin.value[0] ; 
#else
variants { #slurp
#for $v in $lin.value
$v; #slurp
#end for
} ;
#end if
#end for
#if $l['isRecord']
   } ;
#end if

#end for

oper
  #for $o in $opers
   $o
  #end for

}
