#set global $poss_advs = []
#set global $poss_nps  = []
##
#if $syn.has_key('possessiveAdjunct')
#set $poss = $syn.possessiveAdjunct
  #if type($poss) == list
   #for $p in $poss
    $poss_advs.append( '(Syntax'+str($lang)+'.mkAdv possess_Prep ' + str($poss.name) + ')' )
    $poss_nps.append( 'mkNP (GenNP s) sgNum ' + str($poss.name) )
   #end for
  #else
   $advs.append( '(Syntax'+str($lang)+'.mkAdv possess_Prep ' + str($syn.possessiveAdjunct.name) + ')' )
   $poss_nps.append( 'mkNP (GenNP s) sgNum ' + str($syn.possessiveAdjunct.name) )
  #end if
#end if
