##
#set global $ref = $ref
#set global $name = $canonicalForm.replace(' ','')
##
##
#set $singular = $getVar('singular',None)
#set $plural   = $getVar('plural',  None)
##
#if $singular
#if $plural 
#set global $forms = c'"$singular" "$plural"'
#else 
$set global $forms = c'"$singular"'
#end if
#else
#set global $forms = c'"$canonicalForm"'
#end if
##
##
#if not $synBehaviors
#include ("templates/"+$lang+"/NounDefault").encode('ascii')
#end if
##
#for $syn in $synBehaviors
#set global $syn = $syn
##
#include "templates/aux/collect_prepositionalArgs.tmpl"
#include "templates/Eng/collect_possessiveAdjuncts.tmpl"
##
#if $syn.has_key('frame') and $syn.frame != 'Frame'
#set $path = ("templates/"+$lang+"/"+$syn.frame).encode('ascii')
#else
#set $path = ("templates/"+$lang+"/NounFrame").encode('ascii')
#end if
##
#include $path
##
#end for
##

