#set $subj = $syn.subject.name
#set $obj  = $syn.directObject.name
##
#set $aux = Template(file="templates/aux/lins.tmpl")
#set $vp_lins         = $aux.get_lins($advs,'mkVP','(mkVP '+$name+'_V2 '+$syn.directObject.name+')')
#set $passive_vp_lins = $aux.get_lins($advs,'mkVP','(passiveVP '+$name+'_V2)')
#set $passive_by_vp_lins = $aux.get_lins($advs,'mkVP','(passiveVP '+$name+'_V2 '+$syn.directObject.name+')')
#set $vp_slash_lins   = $aux.get_lins($advs,'mkVP','(mkVPSlash '+$name+'_V2)')
##
#set $cl = $aux.build_lins($vp_lins,'mkCl ' + $syn.subject.name + ' ')
#set $passive = $aux.build_lins($passive_vp_lins,'mkCl ' + $syn.subject.name + ' ')
#set $passive_by = $aux.build_lins($passive_by_vp_lins,'mkCl ' + $syn.subject.name + ' ')
#set $vp = $aux.build_lins($vp_lins,'')
#if len($vp_slash_lins) == 1
 #set $object_slash  = 'mkClSlash ' + $syn.subject.name + $vp_lins[0]
#end if
##

lin
  cl = $cl
  passive = $passive
  passive_by = $passive_by
  object_slash = $object_slash 
  vp = $vp

oper
   ${name}_V : V;
   ${name}_V = mkV $forms;

#for $m in $ms
   ${m['short']}_Prep : Prep;
   ${m['short']}_Prep = mkPrep "$m.long";
#end for
