##
##from .templatex.aux.lins import *
##
#set $aux = Template(file="templates/aux/lins.tmpl")
#set $vp_lins         = $aux.get_lins($advs,'mkVP','V2','(mkVP '+$name+'_V2 '+$syn.directObject.name+')')
#set $passive_vp_lins = $aux.get_lins($advs,'mkVP','V2','(passiveVP '+$name+'_V2)')
#set $passive_by_vp_lins = $aux.get_lins($advs,'mkVP','V2','(passiveVP '+$name+'_V2 '+$syn.directObject.name+')')
#set $vp_slash_lins   = $aux.get_lins($advs,'mkVP','V2','(mkVPSlash '+$name+'_V2)')
##
#set $active  = $aux.build_lins($vp_lins,'mkCl (mkNP ' + $syn.subject.name +') ')
#set $passive = $aux.build_lins($passive_vp_lins,'mkCl (mkNP ' + $syn.subject.name +') ')
#set $passive_by = $aux.build_lins($passive_by_vp_lins,'mkCl (mkNP ' + $syn.subject.name +') ')
#set $subject_slash = $aux.build_lins($vp_lins,'')
#if len($vp_slash_lins) == 1
 #set $object_slash  = 'mkClSlash (mkNP ' + $syn.subject.name +') '+ $vp_lins[0]
#end if
##

lin
  active = $active
  passive = $passive
  passive_by = $passive_by
  object_slash = $object_slash 
  subject_slash = $subject_slash

oper
   ${name}_V : V;
   ${name}_V = mkV $forms;

#for $m in $ms
   ${m['short']}_Prep : Prep;
   ${m['short']}_Prep = mkPrep "$m.long";
#end for
